/* line 1, ../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_main.sass */
html {
  height: 100%;
}

/* line 9, ../sass/partials/_main.sass */
body {
  background-size: 100% 100%;
}
@media (max-width: 651px) {
  /* line 9, ../sass/partials/_main.sass */
  body {
    background: black;
    z-index: 99999;
  }
}

/* line 21, ../sass/partials/_main.sass */
.bg-wrapper {
  height: 1000px;
  background: url("../img/mobile-version.jpg");
}
@media (max-width: 400px) {
  /* line 21, ../sass/partials/_main.sass */
  .bg-wrapper {
    width: 97%;
    background: url("../img/mobile-version.jpg");
    z-index: -1;
    height: 600px;
  }
}

/* line 31, ../sass/partials/_main.sass */
.mybutton {
  background: #444;
  color: #ccc;
  padding: 1em;
  cursor: pointer;
}

/* line 37, ../sass/partials/_main.sass */
.pageOne {
  font-family: Arial, sans-serif;
  width: 50%;
  height: 21em;
  background: #333;
  padding: 1em;
  color: #ccc;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1s right ease;
  -moz-transition: 1s right ease;
  -ms-transition: 1s right ease;
  -o-transition: 1s right ease;
  transition: 1s right ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
@media (max-width: 651px) {
  /* line 37, ../sass/partials/_main.sass */
  .pageOne {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 61, ../sass/partials/_main.sass */
.pageTwo {
  font-family: Arial, sans-serif;
  width: 50%;
  height: 33em;
  background: #333;
  padding: 1em;
  color: #ccc;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1s left ease;
  -moz-transition: 1s left ease;
  -ms-transition: 1s left ease;
  -o-transition: 1s left ease;
  transition: 1s left ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
@media (max-width: 651px) {
  /* line 61, ../sass/partials/_main.sass */
  .pageTwo {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 80, ../sass/partials/_main.sass */
  .pageTwo img {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 83, ../sass/partials/_main.sass */
.showPointer {
  cursor: pointer;
}

/* line 86, ../sass/partials/_main.sass */
.blogImage {
  width: 320px;
  height: 200px;
}
@media (max-width: 651px) {
  /* line 86, ../sass/partials/_main.sass */
  .blogImage {
    width: 200px;
    margin-top: 1em;
  }
}

/* line 93, ../sass/partials/_main.sass */
.closeBtn {
  background: #000;
  float: right;
  padding: 0.5em;
  cursor: pointer;
}
